.divbig {
  height: 1600px;
}
.divmin {
  display: inline;
  text-align: center;
  width: 200px;
  height: 60px;
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: rgb(48, 71, 220);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.divmin:hover {
  background-color: rgb(117, 68, 192);
}
